$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-white:#fff;

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px 0px;
	padding: $pad-up-dn $pad-left-right;
}

body {
    margin: 0px;
    padding: 0px;
}

.vntd-social-icons .socisl-icons  {
   
    a{
        color: #535353;
        text-align: center;
        box-sizing: inherit;
        
    }  
     
}
.fa {
    font-size: inherit;
    text-rendering: auto;
}
.btn-social-icon{
    border-radius: 50%;
}

#footer {
    .footer-bottom{
        background-color: #1e1e1e;
    }
    .copyright {
        margin-bottom: 10px;
        color: #777;
    }

}

#footer-main {
    .widget-title {
        color: #fff;
    }
    .widget-title{
        margin-bottom: 25px;
    }
    .footer-main{
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .footer-widget {
        border-bottom: none;
        margin-bottom: 30px;
    }
}


.contact-details-map:after {
    content: ".";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-indent: -9999px;
    background: url(../img/contact-details-map.png) no-repeat center center;
    opacity: 0.11;
}


.Contact-Details {
    background-image: url(confusion/img/contact-details-map.png);
    color: rgba(0, 0, 0, 0.6); }
  
.contact-details-map a{
    color: rgba(255, 255, 255, 0.34);
}



.footer-main{
    padding-top: 50px;
    padding-bottom: 40px;
    .footer-widget {
        border-bottom: none;
        margin-bottom: 30px;
    }
    
    .widget_text{
         padding: 0;
        }
    .widget ul li{
        border-bottom: 1px solid rgba(255,255,255,0.05);
    }
    li {
        margin-bottom: 6px;
        padding-bottom: 7px;
    }
    li:before, .widget_product_categories li:before {
        content: "\f105";
        font-family: FontAwesome;
        padding-right: 8px;
        color: rgba(255, 255, 255, 0.34);
        transition: padding .3s;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.widget-contact-details{
    span {
        padding-left: 30px;
    }
    > div {
        margin-bottom: 12px;
        color: #636363;
    }
    .widget-contact-details-item {
        border-bottom: 1px solid rgba(255,255,255,0.05);
        margin-bottom: 6px;
        padding-bottom: 7px;
    }
}


.footer-dark  {
    background-color:#262626;
    background-size: cover;
    color: rgba(255, 255, 255, 0.34);
}


.nav-link  {
    color: $background-white;
}

.img {
    background-image: url(../img/home-1.jpg);
    background-attachment: fixed;
    height: 657px;
    background-size: cover;
    background-position: center;
    transition: slide 10s ease-in-out;
    overflow-x: hidden;
}
.img-2 {
    background-image: url(../img/home-2.jpg);
    background-attachment: fixed;
    height: 657px;
    background-size: cover;
    background-position: center;
    transition: slide 10s ease-in-out;
}

.img-3 {
    background-image: url(../img/home-3.jpg);
    background-attachment: fixed;
    height: 657px;
    background-size: cover;
    background-position: center;
    transition: slide 10s ease-in-out;
}

.carousel-item {
   
    text-align: center;

}
.carousel-caption {
    text-decoration: solid;
    z-index:10;
    color:#fff;
    text-align:center;
    top:35%;
    left:30%;
    bottom:auto;
    transform:translate(0, -50%);

    
    h1{
        margin-bottom: 18px;
        line-height: 1.2em;
        font-weight: 400;
        font-size: 720px;
    }
    p{
        margin-top: 10px;
        line-height: 1.86em;
        margin-bottom: 20px;
        color: rgba(255,255,255, .92);
        font-family: 'Open Sans',arial;
        font-weight: 400;
    }
}
.btn-btn1 {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px;
}
.btn-btn2 {
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.Architecture-title{
    margin-top: 50px;

    h2 {
        font-weight: 400;
        font-size: 32px;
        font-weight: 400;
        color: #303030;
        line-height: 1.38em;
        margin-bottom: 30px;
    }

    p{
        font-size: 5px;
       color: #606060;
       line-height: 2em;
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       font-family: 'Open Sans',arial;
       text-align: center;
    }
}
.chair {
    padding: 0px;
    margin: 0;
    margin-top: 100px;
    margin-left: 70px;
    img{
        height: auto;
        width:700 ;
        vertical-align: top;
    }
   .chair-caption {
       img{
          
       }
       h2 {
        color: #303030;
        line-height: 1.38em;
        font-weight: 400;
        margin-bottom: 25px;
       }
       p{
        font-family: 'Open Sans',arial;
        font-weight: 300;
        color: #686868;
        line-height: 1.5em;
       
       }
       ul{
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 15px;
        line-height: 1.86em;
        font-family: 'Open Sans',arial;
        font-weight: 400;
        color: #686868;
       }
       li{
        padding: 2px 0 2px 0px;
       }
    }
}

.arch-4 {
    h2 {
     color: #303030;
     line-height: 1.38em;
     font-weight: 400;
    margin-bottom: 25px;
    }
    p{
     font-family: 'Open Sans',arial;
     font-weight: 400;
     color: #686868;
     line-height: 1.86em;
     font-size: 1.1em;
    }
    ul{
     list-style: none;
     padding: 0;
     margin: 0;
     font-size: 15px;
     line-height: 1.86em;
     font-family: 'Open Sans',arial;
     font-weight: 400;
     color: #686868;
    }
    li{
     padding: 2px 0 2px 0px;

    }
}

.fixed-image {
    background-image: url(../img/archi16.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 150%;
    transition: opacity .5s ease;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 50px;   
    .container  {
        margin-left: auto;
        .container{ 
            padding-top: 100px;
            padding-bottom: 100px;
          
            .counter-icon{ 
            font-size: 38px;
            font-weight: normal;
            line-height: 1em;
            margin-bottom: 20px;
            }
        }
        .counter-row  {
            padding: 0px;
            margin: 0px;
        }
       .counter-with-icon{
        color: rgba(255,255,255,0.8);
       }
      .counter-number{
        color: #fff;
        font-size: 48px;
        font-weight: normal;
        line-height: 1em;
        margin-bottom: 20px;
        font-family: 'Open Sans',arial;
       }
       .counter-title{
        line-height: 1.86em;
        font-family: 'Open Sans',arial;
        color: rgba(255, 255, 255, 0.8);  
        font-size: 15px;
        font-weight: 400;

       }
    }
}

